[submodule ".config/nvim/bundle/vim-go"]
	path = .config/nvim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".config/nvim/bundle/vim-json"]
	path = .config/nvim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule ".config/nvim/bundle/vim-terraform"]
	path = .config/nvim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule ".config/nvim/bundle/tagbar"]
	path = .config/nvim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".config/nvim/bundle/syntastic"]
	path = .config/nvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".tmux/plugins_outer/tmux-pain-control"]
	path = .tmux/plugins_outer/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
[submodule ".tmux/plugins_outer/tmux-ressurect"]
	path = .tmux/plugins_outer/tmux-ressurect
	url = https://github.com/tmux-plugins/tmux-ressurect.git
[submodule ".tmux/plugins_outer/tmux-sensible"]
	path = .tmux/plugins_outer/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins_outer/tmux-themepack"]
	path = .tmux/plugins_outer/tmux-themepack
	url = https://github.com/tmux-plugins/tmux-themepack.git
[submodule ".tmux/plugins_outer/tpm"]
	path = .tmux/plugins_outer/tpm
  url = https://github.com/tmux-plugins/tpm.
[submodule ".tmux/plugins_inner/tmux-ressurect"]
	path = .tmux/plugins_inner/tmux-ressurect
	url = https://github.com/tmux-plugins/tmux-ressurect.git
[submodule ".tmux/plugins_inner/tmux-sensible"]
	path = .tmux/plugins_inner/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins_inner/tmux-themepack"]
	path = .tmux/plugins_inner/tmux-themepack
	url = https://github.com/tmux-plugins/tmux-themepack.git
[submodule ".tmux/plugins_inner/tpm"]
	path = .tmux/plugins_inner/tpm
  url = https://github.com/tmux-plugins/tpm.
